.header {
	margin: 12px 0;
	height: var(--header-height);
}
.header__navbar {
	display: flex;
	justify-content: space-between;
}

.header__navbar-list {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	margin-top: 4px 0 0 0;
}

.header__navbar-item {
	margin: 0 8px;
	position: relative;
	min-height: 26px;
}

.header__navbar-user {
	display: flex;
	justify-content: center;
}

.header__navbar-user-img {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-bottom: -6px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
	margin-left: 4px;
	font-size: 1.4rem;
	font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
	display: block;
}

.header__navbar-user-menu {
	position: absolute;
	z-index: 1;
	padding-left: 0;
	top: calc(100% + 7px);
	list-style: none;
	right: 0;
	width: 160px;
	border-radius: 2px;
	background-color: var(--white-color);
	box-shadow: 0 1px 2px #c0c0c0;
	display: none;
}

.header__navbar-user-menu::after {
	content: "";
	position: absolute;
	display: block;
	top: -8px;
	right: 0;
	width: 56%;
	height: 8px;
	/* background-color: black; */
}

/* Làm mũi tên nhọn trên đầu */
.header__navbar-user-menu::before {
	content: "";
	position: absolute;
	/* border-width: 19px 24px; */
	border-width: 20px 27px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	right: 4px;
	/* top: -34px; */
	top: -29px;
}

/* Để cho chữ đăng xuất khác biệt với các 
chức năng kia */
.header__navbar-user-item--separate {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	padding: 4px 16px;
	display: block;
	/* Để làm nổi chữ kh bị phần dưới mũi nhọn che khuất */
	margin-top: 1rem;
}

/* Để di chuột hover vào kh bị đổi thành góc nhọn */
.header__navbar-user-item a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
	background-color: #fafafa;
}

.header__navbar-item-shas-qr:hover .header__qr {
	display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
	display: block;
}

.header__navbar-item {
	color: var(--text-color);
}

.header__navbar-item,
.header__navbar-item-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.3rem;
	font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.link-text {
	font-size: 14px;
}

.header__navbar-item--strong {
	font-weight: 400;
}

.header__navbar-item--separate::after {
	content: "";
	display: block;
	position: absolute;
	border-left: 1px solid #aaa;
	height: 14px;
	right: -9px;
	top: 7px;
}

.header__navbar-icon-link {
	text-decoration: none;
	color: var(--black-color);
}

.header__navbar-icon {
	font-size: 1.4rem;
	margin: 0 2px;
}

.header__navbar-title--no-pointer {
	cursor: text;
	color: var(--text-color);
}

/* Header notification */

.header__notify {
	position: absolute;
	/* Để cho khi di chuột vào thông báo nó hiện ra
    bảng thông báo sẽ che đi mấy kia */
	z-index: 8;
	top: 118%;
	right: 0;
	width: 404px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background-color: var(--white-color);
	cursor: default;
	/* Để đổi góc khi thtoong báo được hiện ra */
	transform-origin: calc(100% - 32px) top;
	animation: headerNotifyGrowth ease-in 0.2s;
	will-change: opacity, transform;
	display: none;
}

/* Làm cái nhọn trên đầu thông báo */
.header__notify::before {
	content: "";
	position: absolute;
	border-width: 20px 30px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	right: 0;
	top: -30px;
}

/* Làm cái cầu để di vào khỏi bị mất thông báo */
.header__notify::after {
	content: "";
	display: block;
	position: absolute;
	width: 180px;
	height: 20px;
	/* background-color: #f53e2d; */
	top: -20px;
	right: 0;
}

@keyframes headerNotifyGrowth {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.header__notify-header {
	height: 40px;
	background-color: var(--white-color);
}

.header__notify-header h3 {
	color: #999;
	margin: 0 0 0 12px;
	font-weight: 400;
	font-size: 1.4rem;
	/* Cho chiều cao bằng thằng chưa nó tự động căn giữa */
	line-height: 40px;
	/* Để khi trỏ vào thì kh phải là pointer và kh copy được */
	user-select: none;
	cursor: text;
}

.header__notify-list {
	padding-left: 0;
}

.header__notify-item {
	display: flex;
}

.header__notify-item:hover {
	background-color: #f7f7f7;
}

.header__notify-item--viewed {
	background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
	display: flex;
	width: 100%;
	padding: 12px;
	text-decoration: none;
}

.header__notify-img {
	width: 48px;
	/* Để ảnh khỏi bị méo */
	object-fit: contain;
}

.header__notify-info {
	margin-left: 12px;
}

.header__notify-name {
	display: block;
	font-size: 1.4rem;
	color: var(--black-color);
	font-weight: 400;
	line-height: 1.8rem;
}

.header__notify-description {
	display: block;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #756f6e;
}

.header__notify-footer {
	text-align: center;
	display: flex;
}

.header__notify-footer-btn {
	text-decoration: none;
	color: var(--text-color);
	padding: 8px 48px;
	margin: auto;
}

/* Authen modal */

.auth-form {
	width: 500px;
	background-color: var(--white-color);
	border-radius: 5px;
	overflow: hidden;
}

.auth-form__container {
	padding: 0 32px;
}

.auth-form__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
	margin-top: 10px;
}

.auth-form__heading {
	font-size: 2.2rem;
	font-weight: 400;
	color: var(--text-color);
}

.auth-form__switch-btn {
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
}

.auth-form__input {
	width: 100%;
	height: 40px;
	margin-top: 16px;
	padding: 0 12px;
	font-size: 1.4rem;
	border-radius: 2px;
	border: 1px solid var(--border-color);
	outline: none;
}

.auth-form__input:focus {
	border-color: #888;
}

.auth-form__aside {
	margin-top: 18px;
}

.auth-form__policy-text {
	font-size: 1.2rem;
	text-align: center;
	padding: 0 12px;
}

.auth-form__text-link {
	text-decoration: none;
	color: var(--primary-color);
}

.auth-form__controls {
	margin-top: 80px;
	display: flex;
	justify-content: flex-end;
}

.auth-form__controls-back {
	margin-right: 8px;
}

.auth-form__socials {
	background-color: #f5f5f5;
	padding: 16px 36px;
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
}

.auth-form__socials-icon {
	font-size: 1.8rem;
}

.auth-form__socials--facebook {
	color: var(--white-color);
	background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
	color: var(--white-color);
}

.auth-form__socials-title {
	margin: 0 24px;
}

.auth-form__socials--google {
	color: #666;
	background-color: var(--white-color);
}

.auth-form__help {
	display: flex;
	justify-content: flex-end;
}

.auth-form__help-link {
	text-decoration: none;
	font-size: 1.4rem;
	color: #939393;
}

.auth-form__help-separate {
	display: block;
	height: 16px;
	border-left: 1px solid #eaeaea;
	margin: 0 12px;
}

.auth-form__help-forgot {
	color: var(--primary-color);
}

/* Header with search */

.header-with-search {
	height: var(--header-with-search-height);
	display: flex;
	align-items: center;
	/* Để nó thẳng hàng với chữ ở trên */
	margin: 0 8px;
}

/* .header__logo {
    width: 200px;
} */

/* Để gặp các trình duyệt cũ thì không bị lỗi */
.header__logo-link {
	color: transparent;
	text-decoration: none;
	width: 150px;
}

.header__logo img {
	width: 150px;
}

.header__search {
	flex: 1;
	height: 40px;
	border-radius: 2px;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
}

.header__cart {
	width: 150px;
	text-align: center;
}

.header__cart-wrap {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	cursor: pointer;
	margin-left: 100px;
}

.header__cart-list {
	position: absolute;
	z-index: 1;
	top: calc(100% + 9px);
	right: -1px;
	background-color: var(--white-color);
	width: 400px;
	border-radius: 2px;
	box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
	display: none;
	cursor: default;
	animation: fadeIn ease-in 0.2s;
}

.header__cart-heading {
	text-align: left;
	margin: 8px 0 8px 12px;
	font-size: 1.4rem;
	color: #999;
	font-weight: 400;
}

.header__cart-list-item {
	padding-left: 0;
	list-style: none;
	/* Để khi nhiều sản phẩm quá sẽ xử lý được 
    tạo ra thanh cuộn*/
	overflow-y: auto;
	/*Để nó ăn theo độ cao của trình duyệt  */
	/* height: 56vh; */
	max-height: 56vh;
}

.header__cart-item {
	display: flex;
	align-items: center;
}

.header__cart-item:hover {
	background-color: #f8f8f8;
}

.header__cart-img {
	width: 42px;
	height: 42px;
	margin: 12px;
	border: 1px solid #e8e8e8;
}

.header__cart-item-info {
	width: 100%;
	/* Để nội dung đều cách phải 12px */
	margin-right: 12px;
}

.header__cart-item-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__cart-item-name {
	/* Đã có sử dụng thuộc tính để fix
    trong trường hợp trên sản phẩm dài và chiếm diện tích */
	font-size: 1.4rem;
	/* line-height: 2.4rem; */
	line-height: 2rem;
	max-height: 4rem;
	overflow: hidden;
	font-weight: 500;
	color: var(--text-color);
	margin: 0;
	flex: 1;
	/* Để cho tên sản phẩm kh căn ra giữa */
	padding-right: 16px;

	/* Cho dấu 3 chấm vào */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

	/* Để fix những ông chữ ngắn quá kh bị căn giũa */
	text-align: left;
}

.header__cart-item-price {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--primary-color);
}

.header__cart-item-multiply {
	font-size: 0.9rem;
	color: #757575;
	margin: 0 4px;
}

.header__cart-item-qnt {
	font-size: 1.2rem;
	color: #757575;
	font-weight: 500;
}

.header__cart-item-body {
	display: flex;
	justify-content: space-between;
}

.header__cart-item-description {
	color: #757575;
	font-size: 1.2rem;
	font-weight: 300;
}

.header__cart-item-remove {
	color: var(--text-color);
	font-size: 1.4rem;
}

.header__cart-item-remove:hover {
	cursor: pointer;
	color: var(--primary-color);
}

.header__cart-view-cart {
	float: right;
	margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
	background-color: #f05d41;
}

.header__cart-wrap:hover .header__cart-list {
	display: block;
}

.header__cart-list::after {
	content: "";
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: -26px;
	border-width: 17px 20px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
	padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
	display: block;
	/* Để căn giữa icon chưa có sản phẩm và 
    không mất margin lên trên */
	margin-left: auto;
	margin-right: auto;
}

.header__cart-no-cart-img {
	width: 54%;
	display: none;
}

.header__cart-list-no-cart-msg {
	display: none;
}
.header__cart-list--no-cart {
	/* display: none; */
	display: block;
	font-size: 1.4rem;
	margin-top: 12px;
	color: var(--text-color);
}

.header__cart-icon {
	font-size: 2.4rem;
	color: var(--primary-color);
}

/* số 3 trên giỏ hàng để thông báo  */
.header__cart-notice {
	position: absolute;
	top: -5px;
	right: 0px;
	padding: 1px 7px;
	background-color: var(--color-primary);
	color: var(--white-color);
	border-radius: 10px;
	font-size: 12px;
	line-height: 1.4rem;
}

.header__search-input-wrap {
	height: 100%;
	position: relative;
}

.header__search-input-item {
	margin-left: 50px;
	width: 600px;
	display: flex;
	position: relative;
}

.header-right-wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: end;
}

.header__search-input {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	font-size: 16px;
	outline: none;
	color: var(--text-color);
	padding: 0 16px;
	border-radius: 60px;
}

.header__search-btn {
	position: absolute;
	right: -2px;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 38px;
	border: none;
	outline: none;
	border-radius: 60px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-right: 3px;
	transition: all 0.5s;
}

.header__search-btn:hover {
	cursor: pointer;
	background-color: #aaaaaa13;
	opacity: 0.8;
}

.header__search-btn-icon {
	font-size: 1.4rem;
	/* color: var(--white-color); */
	transition: all 0.5s;
}

.header__search-option {
	position: absolute;
	right: 0;
	margin-top: 16px;
	/* Fix cứng để cho khi bấm vào chữ trong shop
    nó sẽ cách ở dưới khoảng bằng input */
	top: calc(100% - 3px);
	width: 130px;
	list-style: none;
	/* Tạo bóng đổ dưới chân chữ */
	box-shadow: 0 1px 2px #c0c0c0;
	padding-left: 0;
	border-radius: 2px;
	/* overflow: hidden; */
	display: none;
	animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
	position: absolute;
	content: "";
	display: block;
	width: 180px;
	height: 80px;
	/* background-color: red; */
	top: -20px;
	left: 0;
}

.header__search-select:hover .header__search-option {
	display: block;
}

.header__search-option-item {
	background-color: var(--white-color);

	padding: 8px 8px;
}

/* Để bo góc ở trên */
.header__search-option-item:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

/* Để bp góc ở dưới */
.header__search-option-item:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
	background-color: #fafafa;
	cursor: pointer;
}

.header__search-option-item span {
	font-size: 1.4rem;
	text-decoration: none;
	color: var(--text-color);
	list-style: none;
	margin-left: 8px;
}

.header__search-option-icon {
	font-size: 1.2rem;
	color: var(--primary-color);
	margin-left: 12px;
	display: none;
}

.header__search-option-item--active .header__search-option-icon {
	display: inline-block;
}

/* Để focus vào input nó hiện ra lịch sử */
.header__search-input:focus ~ .header__search-history {
	display: block;
}

/* Search history */
.header__search-history {
	position: absolute;
	z-index: 1;
	top: calc(100% + 2px);
	left: 0;
	width: calc(100% - 16px);
	background-color: var(--white-color);
	border-radius: 2px;
	box-shadow: 0 1px 5px #898888;
	display: none;
	overflow: hidden;
}

.header__search-history-heading {
	margin: 6px 12px;
	font-size: 1.4rem;
	color: #999;
	font-weight: 400;
}

.header__search-history-list {
	padding-left: 0;
	list-style: none;
	/* Để chữ ở dưới cách lịch sử tìm kiếm ở trên vừa phải */
	margin: 6px 0 0;
}

.header__search-history-item {
	height: 38px;
	padding: 0 12px;
}

.header__search-history-item:hover {
	background-color: #fafafa;
}

.header__search-history-item a {
	text-decoration: none;
	color: var(--text-color);
	/* Để căn chữ ra giữa */
	line-height: 38px;
	font-size: 1.4rem;
	/* Để làm to thẻ a ở khoảng trắng mà kh có chữ vẫn 
    là pointer */
	display: block;
}

.header__menu {
	width: 100%;
	margin: 0 12px;
	position: relative;
	display: flex;
	align-items: center;
}

.header__menu-item:hover::after {
	width: 100%;
	display: block;
}

.header__menu-item {
	position: relative;
	text-decoration: none;
	font-weight: 900;
	font-size: 16px;
	display: block;
	margin: 0 18px;
	transition: 0.25s ease;
}

.header__menu-item.active {
	color: var(--color-primary);
}

.header__menu-item:first-child {
	margin-left: 0;
}

.header__menu-item:hover {
	color: var(--color-primary);
}

.header__menu-item::after {
	content: "";
	top: calc(100% + 6px);
	left: 0;
	position: absolute;
	display: block;
	bottom: 10px;
	height: 2px;
	background-color: var(--color-primary);
	width: 0px;
	transition: all var(--transition-move) 0.4s 0.1s;
}

/* Body */
.body {
	margin: auto;
	padding: 0 20px;
	/* overflow: hidden; */
}

.banner {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.banner img {
	cursor: pointer;
}

.banner__left {
	position: relative;
	width: 100%;
}

.banner__right {
	width: 100%;
	margin-left: 3px;
}

.banner__bottom {
	cursor: pointer;
	overflow: hidden;
}

/* Best brand */
.best-brand-container {
	margin: 20px 0;
}

.brand__icon {
	width: 20px;
}

.brand__title {
	display: flex;
	align-items: center;
	font-size: 20px;
	color: var(--orange-color);
}

.brand__product-item {
	display: block;
	position: relative;
	margin-bottom: 20px;
	transition: all 0.5s ease;
}

.brand__product-item:hover {
	transform: translateY(-4px);
	cursor: pointer;
}

.brand__product-item-title {
	max-width: 100%;
}
.brand__product-item-price {
	margin-top: 10px;
}
.new-price {
	color: var(--orange-color);
	font-size: 18px;
}
.sale-price {
	text-decoration: line-through;
	font-size: 12px;
}

.brands {
	margin: 20px 0;
}

.brand__container {
	margin-top: 20px;
}

.brand-item {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	transition: all 0.5s ease-in;
}

.brand-item:hover {
	transform: scale(1.1);
	opacity: 1;
}

.brand-item img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Footer */
.footer {
	background-color: var(--white-color);
	/* height: 200px; */
}

.footer__heading {
	margin-top: 38px;
	margin-bottom: 30px;
}

.footer-item {
	padding-bottom: 12px;
	display: block;
	list-style: none;
}

.footer-item__link {
	text-decoration: none;
	color: var(--text-color);
	line-height: 21px;
}

.footer-item__link:hover {
	text-decoration: underline;
}

.footer__list-item {
	display: flex;
}

.footer__list-item-title {
	flex: 1;
	margin-bottom: 25px;
}

.footer__list-item-content {
	flex: 2;
	line-height: 17px;
	font-size: 14px;
	padding-left: 10px;
}

.footer__list-item-content p {
	margin-bottom: 22px;
}

.footer__list-item-content a {
	text-decoration: none;
	color: var(--text-color);
	margin-bottom: 20px;
}

.footer__list-item-content a:hover {
	text-decoration: underline;
}

.footer-app {
	display: flex;
	margin-top: 30px;
}

.footer-app-img {
	flex: 1;
	width: 33.33333%;
	padding: 0 6px;
}

.footer-app-bct {
	width: 53.5%;
}
